$primary-font: 'Open Sans', sans-serif;
$second-font: 'Raleway', sans-serif;

$grey: #393e46;
$grey-light: #7e858f;

$white: #ffffff;

$bg-white: #ffffff;
$bg-grey: #f8f8f9;
$bg-purple: #282f3a;
$bg-purple-dark: #252b36;

$btn-purple : #4a44f2;