html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  font-family: "Raleway", sans-serif;
  color: #393e46;
  text-decoration: none;
}

.caption {
  color: #7e858f;
}

.button {
  background-color: #4a44f2;
  display: block;
  padding: 20px 70px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.6rem;
}
.button--center {
  margin: 0 auto;
}
.button--contact {
  background: linear-gradient(to right, #f474a2, #ffad3a);
}

header,
footer,
section {
  display: none;
}

.header {
  display: block;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
}
.header img {
  height: 44px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 70px;
}
.header__phone {
  text-decoration: none;
  font-size: 1.6rem;
  color: #393e46;
}
.header__phone strong {
  font-weight: 600;
  margin-left: 15px;
}
.header__search, .header__menu {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .header__main {
    height: 130px;
  }
  .header__nav {
    gap: 0 20px;
  }
  .header__phone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__main {
    height: 100px;
  }
  .header img {
    height: 30px;
  }
}

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
  display: block;
}
.hero__img {
  display: block;
  width: 65%;
  margin-left: auto;
}
.hero__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero__caption {
  font-size: 7.2rem;
  font-weight: 600;
}
.hero__heading {
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero__link {
  font-size: 1.8rem;
  font-weight: 600;
}
@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero__content {
    left: 15%;
  }
  .hero__caption {
    font-size: 5rem;
  }
  .hero__heading {
    font-size: 11rem;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .hero__caption {
    font-size: 1.8rem;
  }
  .hero__heading {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  .hero__link {
    font-size: 1.2rem;
  }
}

.portfolio {
  padding-bottom: 150px;
  display: block;
}
.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 90px;
  margin-bottom: 100px;
}
.portfolio__column {
  display: flex;
  flex-direction: column;
  gap: 90px 0;
}
.portfolio__item img {
  display: block;
  margin-bottom: 40px;
  width: 100%;
}
.portfolio__heading {
  display: block;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 30px;
}
.portfolio__type {
  text-decoration: none;
  font-size: 1.4rem;
}

.partner {
  padding-bottom: 150px;
}
.partner__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px 0;
}
.partner__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partner__item img {
  max-width: 80%;
  max-height: 90px;
}

.team {
  background-color: #f8f8f9;
  padding: 150px 0;
}
.team__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 90px;
}
.team__content {
  max-width: 370px;
  margin-bottom: 44px;
}
.team__heading {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 44px;
}
.team__desc {
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 70px;
}
.team__images {
  max-width: 670px;
  display: flex;
  gap: 0 30px;
  align-items: center;
}
.team__images img {
  width: 100%;
}
.team__images img:nth-child(2) {
  width: 60%;
}
.team__column {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  align-items: flex-end;
}

.service {
  padding: 150px 0;
}
.service__heading, .service__title {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 44px;
}
.service__desc {
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 70px;
}
.service__heading, .service__desc {
  text-align: center;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
}
.service__img {
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
}
.service__img img {
  width: 100%;
}
.service__title {
  cursor: pointer;
  font-size: 2.2rem;
}
.service__type {
  text-decoration: none;
  font-size: 1.4rem;
}

.contact {
  background: url("../images/contact-bg.png") no-repeat center/cover;
  color: #ffffff;
  padding: 150px 0;
}
.contact__main {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.contact__heading {
  font-size: 3.6rem;
  margin-bottom: 50px;
}
.contact__heading strong {
  font-weight: 700;
}
.contact__desc {
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 100px;
}
.contact__input {
  color: #ffffff;
  padding-left: 10px;
  font-size: 1.4rem;
  line-height: 55px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}
.contact__input:focus {
  border: 2px solid #ffffff;
}
.contact__input::placeholder {
  color: #ffffff;
}

.footer-top {
  background-color: #282f3a;
  padding: 150px 0;
}
.footer-top__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 130px;
}
.footer-top__desc {
  font-size: 1.6rem;
  line-height: 1.9;
  margin: 48px 0;
}
.footer-top__icon {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  color: #7e858f;
  font-size: 1.4rem;
}
.footer-top__heading {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 50px;
}
.footer-top__nav-link {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  font-size: 1.6rem;
  color: #7e858f;
  line-height: 1.875;
}
.footer-top__nav-link a {
  color: inherit;
  text-decoration: none;
}

.footer-bottom {
  background-color: #252b36;
}
.footer-bottom__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  color: #7e858f;
  font-size: 1.6rem;
  position: relative;
}
.footer-bottom__content span {
  color: #ffffff;
}
.footer-bottom__to-top {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  padding: 20px;
  background-color: #4a44f2;
  border-radius: 5px;
}
.footer-bottom__to-top img {
  width: 20px;
}

/*# sourceMappingURL=app.css.map */
